name: Scrape latest data

on:
  push:
  workflow_dispatch:
  schedule:
    - cron: "0 * * * *"

jobs:
  scheduled:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/cache@v2
        with:
          path: ~/.cache
          key: ${{ runner.os }}-${{ hashFiles('**/requirements.txt', '**/pre-commit-config.yaml') }}
      - uses: actions/setup-python@v2
      - uses: actions/setup-node@v2.1.3
      - name: Setup git
        run: |-
          git config --local user.name "github-actions[bot]"
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
      - run: python -m pip install --upgrade pip
      - run: pip install -r requirements.txt
      - if: github.ref == 'refs/heads/main'
        run: ./scrape.sh
      - name: Commit and push if it changed
        if: github.ref == 'refs/heads/main'
        run: |-
          (git add -A && pre-commit run) || (git add -A && pre-commit run)
          git commit -m "run scrape.sh" || exit 0
          git push
      - run: python gen.py
      - name: Commit and push if it changed
        if: github.ref == 'refs/heads/main'
        run: |-
          (git add -A && pre-commit run) || (git add -A && pre-commit run)
          git commit -m "run gen.py" || exit 0
          git push
      - run: git diff
