name: Scrape latest data

on:
  push:
  workflow_dispatch:
  schedule:
    - cron: "30 * * * *"

jobs:
  scheduled:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v2
      - name: Setup git
        run: |-
          git config --local user.name "github-actions[bot]"
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
      - name: Install Python dependencies
        run: |-
          python -m pip install --upgrade pip
          pip install poetry pre-commit
          poetry install --no-dev
      - run: ./scrape.sh
      - name: Commit and push if it changed
        if: github.ref == 'refs/heads/main'
        run: |-
          (git add -A && pre-commit run) || (git add -A && pre-commit run)
          git commit -m "run scrape.sh" || exit 0
          git push
      - run: poetry run python gen.py
